The code provided is for demonstration purposes only and should not be run as-is. It was initially used to filter large datasets that are too big to be uploaded to GitHub.

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\test\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: numpy>=1.17.3 in c:\users\test\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: pytz>=2017.3 in c:\users\test\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\test\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\test\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [3]:
import pandas as pd

In [4]:
import pandas as pd

# Define the path to the data folder
data_folder = 'data/original/'

# Load the CSV files into pandas dataframes
appearances_df = pd.read_csv(data_folder + 'appearances.csv')
clubs_df = pd.read_csv(data_folder + 'clubs.csv')
players_df = pd.read_csv(data_folder + 'players.csv')

# Players

In [12]:
#players
players_df.head()

,player_id,first_name,last_name,name,last_season,current_club_id,player_code,country_of_birth,city_of_birth,country_of_citizenship,...,foot,height_in_cm,contract_expiration_date,agent_name,image_url,url,current_club_domestic_competition_id,current_club_name,market_value_in_eur,highest_market_value_in_eur
0,10,Miroslav,Klose,Miroslav Klose,2015,398,miroslav-klose,Poland,Opole,Germany,...,right,184.0,NaN,ASBW Sport Marketing,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/miroslav-klose...,IT1,Società Sportiva Lazio S.p.A.,1000000.0,30000000.0
1,26,Roman,Weidenfeller,Roman Weidenfeller,2017,16,roman-weidenfeller,Germany,Diez,Germany,...,left,190.0,NaN,Neubauer 13 GmbH,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/roman-weidenfe...,L1,Borussia Dortmund,750000.0,8000000.0
2,65,Dimitar,Berbatov,Dimitar Berbatov,2015,1091,dimitar-berbatov,Bulgaria,Blagoevgrad,Bulgaria,...,NaN,NaN,NaN,CSKA-AS-23 Ltd.,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/dimitar-berbat...,GR1,Panthessalonikios Athlitikos Omilos Konstantin...,1000000.0,34500000.0
3,77,NaN,Lúcio,Lúcio,2012,506,lucio,Brazil,Brasília,Brazil,...,NaN,NaN,NaN,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/lucio/profil/s...,IT1,Juventus Football Club,200000.0,24500000.0
4,80,Tom,Starke,Tom Starke,2017,27,tom-starke,East Germany (GDR),Freital,Germany,...,right,194.0,NaN,IFM,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/tom-starke/pro...,L1,FC Bayern München,100000.0,3000000.0

In [13]:
len(players_df)

30465

In [14]:
# Assumption: the top players are in the following clubs
# Define the list of competition IDs you want to include
competition_ids = ['GB1', 'IT1', 'ES1', 'L1', 'FR1']

# Filter the players_df DataFrame
players_df_filtered = players_df[players_df['current_club_domestic_competition_id'].isin(competition_ids)]

In [17]:
columns_players = [
    'name',
    'current_club_id',
    'country_of_citizenship',
    'date_of_birth',
    'position',
    'foot', 
    'height_in_cm',
    'market_value_in_eur',
    'highest_market_value_in_eur',
    'player_id'
]

In [18]:
players_df_filtered = players_df_filtered[columns_players]

In [19]:
players_df_filtered

,name,current_club_id,country_of_citizenship,date_of_birth,position,foot,height_in_cm,market_value_in_eur,highest_market_value_in_eur,player_id
0,Miroslav Klose,398,Germany,1978-06-09,Attack,right,184.0,1000000.0,30000000.0,10
1,Roman Weidenfeller,16,Germany,1980-08-06,Goalkeeper,left,190.0,750000.0,8000000.0,26
3,Lúcio,506,Brazil,1978-05-08,Defender,NaN,NaN,200000.0,24500000.0,77
4,Tom Starke,27,Germany,1981-03-18,Goalkeeper,right,194.0,100000.0,3000000.0,80
6,Christoph Metzelder,33,Germany,1980-11-05,Defender,NaN,NaN,1500000.0,9500000.0,123
...,...,...,...,...,...,...,...,...,...,...
30421,Yunus Emre Konak,1148,Turkey,2006-01-10,Midfield,right,181.0,1800000.0,1800000.0,1141628
30439,Luck Zogbé,3911,Cote d'Ivoire,2005-03-24,Defender,left,NaN,100000.0,100000.0,1144999
30443,Mateus Lusuardi,8970,Brazil,2004-01-08,Defender,left,190.0,50000.0,50000.0,1159022
30455,Mahamadou Nagida,273,Cameroon,2005-06-28,Defender,left,176.0,150000.0,150000.0,1176345
30457,Amadou Koné,1421,Cote d'Ivoire,2005-05-14,Midfield,NaN,NaN,50000.0,50000.0,1178474

In [20]:


players_df_filtered.to_csv('data/filtered/players_filtered.csv')

# Appearances

In [21]:
appearances_df.head()

,appearance_id,game_id,player_id,player_club_id,player_current_club_id,date,player_name,competition_id,yellow_cards,red_cards,goals,assists,minutes_played
0,2231978_38004,2231978,38004,853,235,2012-07-03,Aurélien Joachim,CLQ,0,0,2,0,90
1,2233748_79232,2233748,79232,8841,2698,2012-07-05,Ruslan Abyshov,ELQ,0,0,0,0,90
2,2234413_42792,2234413,42792,6251,465,2012-07-05,Sander Puri,ELQ,0,0,0,0,45
3,2234418_73333,2234418,73333,1274,6646,2012-07-05,Vegar Hedenstad,ELQ,0,0,0,0,90
4,2234421_122011,2234421,122011,195,3008,2012-07-05,Markus Henriksen,ELQ,0,0,0,1,90

In [24]:
columns_appearances = [
    'player_id',
    'yellow_cards',
    'red_cards',
    'goals',
    'assists',
    'minutes_played' 
]

appearances_df_filtered = appearances_df[columns_appearances]

# in one table, 1. how many games he played?, 2. sum of minutes played, 3. average minutes per game, 4. sum of cards, average, etc, age, wiel alt ist er heute,

In [25]:
player_ids = players_df_filtered['player_id'].unique()
len(player_ids)

10992

In [26]:
appearances_df_filtered = appearances_df[appearances_df['player_id'].isin(player_ids)]

In [27]:
len(appearances_df)

1530230

In [28]:
len(appearances_df_filtered)

661855

In [29]:
appearances_df_filtered.to_csv('data/filtered/appearances_filtered.csv')